a {
  text-decoration: none;
}

a:link {
  color: #940;
}

a:hover {
  /*color: #fc3;*/
  color: #c60;
}

a:visited {
  color: #e91;
}

input {
  margin-left: auto;
  margin-right: auto;
}

textarea {
  width: 40%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Arial";
}

#rendered-content {
  float: right;
  width: 40%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Arial";
}

.tagline {
  text-align: center;
  margin-top: -30px;
  margin-bottom: 60px;
}

.detail {
  color: #333;
  width: 40%;
}

.date {
  color: #aaa;
  font-size: .8em;
}

.clicky {
  color: #000;
  font-size: 10px;
}

.blog-title {
}

#filters {
  padding-top: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

ol {
  margin-left: 60px;
  list-style-type: none;
}

li {
  margin-left: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 60%;
  border-bottom: 1px solid #ddd;
}

body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  padding-bottom: -20px;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  text-shadow: 1px 2px 2px rgba(0,0,0,0.2);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4.1em;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 2.2em;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  margin-bottom: 0px;
  text-align: center;
}

.booktitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 0px;
}

.node {
  margin-bottom: 13px;
}


footer {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 100px;
  color: #777;
  font-size: .8em;
}

